.first { 
    background-color: #1f2937;
    color: floralwhite;
    height: 30em;
}

header { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    font-size: 18px;
    color: #F9FAF8;
    align-items: center;
    
}

.logo { 
height: 50px;
width: auto;
}

.list { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 25px;
    list-style-type: none;
    flex-wrap: nowrap;
}

.top{ 
    display: flex;
    flex-direction: center;
}

.top div { 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: auto;
}

.top button { 
    margin-top: 10px;
    width: 80px;
    height: 25px;
    background-color:dodgerblue;
    border-radius: 5px;
    border-color: dodgerblue;
    color: floralwhite;
}

.top img { 
    width: 500px;
    height: 200px;
    border:3px solid white;
    border-radius:3px;
}

.second { 
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.drawings div{ 
    display: inline-block;
    margin:0 25px;
    height: 100px;
    width: 100px;
    border: 5px solid black;
}

.circle { 
    border-radius: 90px;
}

.desc { 
    margin: 2em 0;
    font-size: 18px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.desc div{
    width: 150px;
    height: auto;
}
